<html xmlns:th="http:/www.thymeleaf.org">
<head th:fragment="base" >
    <script type="text/javascript" th:attr="src=${MSGP_CP_CTXPATH}+'/ext6/ext-all.js'"></script>
    <script type="text/javascript" th:attr="src=${MSGP_CP_CTXPATH}+'/ext6/ux/Combox'+${MSGP_CP_SUFFIX}+'.js'"></script>
    <script type="text/javascript" th:attr="src=${MSGP_CP_CTXPATH}+'/ext6/classic/locale/locale-zh_CN.js'"></script>
    <script type="text/javascript" th:attr="src=${MSGP_CP_CTXPATH}+'/ext6/cus/vtypeCheck'+${MSGP_CP_SUFFIX}+'.js?t='+${MSGP_CP_CURRENTDATETIME}"></script>
    <script type="text/javascript" th:attr="src=${MSGP_CP_CTXPATH}+'/ext6/cus/common'+${MSGP_CP_SUFFIX}+'.js?t='+${MSGP_CP_CURRENTDATETIME}"></script>
</head>
</html>