<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>

<div th:fragment="nav">
    <nav class="top">
        <a href="/seckill/list.html">
            <span style="color:#C40000;margin:5px" class="glyphicon glyphicon-home redColor"></span>
            <span>首页</span>
        </a>

        <span class="pull-right" style="margin: 5px">
            <th:block th:if="${#session.getAttribute('user') != null}">
                <a href="/seckill/list.html" th:text="'当前用户：' + ${#session.getAttribute('user').getUserName()}"></a>
                <a href="/logout.html">退出</a>
                <a href="/seckill/myOrders.html">我的订单</a>
            </th:block>

            <th:block th:if="${#session.getAttribute('user') == null}">
                <a href="/login.html">请登录</a>
                <a href="/login.html?page=1">免费注册</a>
            </th:block>
		</span>
    </nav>
    <br>
</div>
</html>