<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head th:include="common/header::header">
    <title>秒杀商品列表</title>
</head>
<body>
<div th:include="common/navbar :: nav"></div>
<div th:fragment="seckillList" class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2>今日特价秒杀</h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>商品名称</th>
                    <th>原价</th>
                    <th>秒杀价格</th>
                    <th>库存</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>上架时间</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sk : ${list}">
                    <td th:text="${sk.name}"></td>
                    <td th:text="${sk.seckillPrice}"></td>
                    <td th:text="${sk.seckillPrice}"></td>
                    <td th:text="${sk.stock}"></td>
                    <td th:text="${#dates.format(sk.startTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(sk.endTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(sk.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td><a class="o-btn-1 o-btn-info-1" th:href="@{'/seckill/detail/'+${sk.id}}">立即抢购</a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

</body>
</html>